.btn {
  &__burger {
    width: 30px;
    height: 25px;
    position: relative;
    background-color: transparent;
    background: svg-load('menu.svg', fill=white);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    &.show{

      
    }
  }
}
