.text--quote {
    position: relative;
    font-style: italic;
    &:before {
      content: '*';
      font-family: Open Sans;
      font-size: 48px;
      font-style: italic;
      font-weight: 400;
      line-height: 65px;
      letter-spacing: 0px;
      text-align: left;
      left: -55px;
      top: 0;
      position: absolute;
      width: 30px;
      height: 38px;
      color: rgba(219, 2, 0, 0.5);
    }
  }