.scroll{
    position: absolute;
    top: 500px;
    color: white;
    &:after{
        content:url(/src/images/content/scroll.svg);
        width: 45px;
        height: 15px;
        padding: 15px;
    }
    &:hover,&:focus,&:active{
        color: rgba(255, 154, 0, 1);
            
      }
}