section.about.container
    .about__content.content 
        .about__logo            
            +image("content/user.jpg", 'about__logo--img')

        .about__story 
            p.about__story--text Привет, меня зовут
            h4.about__story--title   Jean Paul
            p.about__story--text   Я занимаюсь разработкой современных сайтов и приложений. #[br] Мне нравится делать интересные и современные проекты.

        .about__worksheet 
            - const worksheet = {"Проживаю:": "Новосибирск", "Возраст:": "27", "Родился:": "1 января 1991"};
            each value, key in worksheet
                .about__worksheet--description= key
                .about__worksheet--text= value
        .about__story  
            p.about__story--text(class="text--quote")   Этот сайт я сделал в рамках обучения в Школе онлайн образования  #[br] LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, #[br] как тут всё классно и красиво!