section.about 
    .about_logo            
        +image("content/user.jpg", 'about_image--avatar')
    p.about_story--text Привет, меня зовут
    .about_worksheet 
    - const worksheet = {"Проживаю:": "Новосибирск", "Возраст:": "27", "Родился:": "1 января 1991"};
    each value, key in worksheet
        span.about_worksheet--description= key
        span.about_worksheet--text= value

    .about_story
        h4.about_story--title   Владимир Астаханов
        p.about_story--text   Я занимаюсь разработкой современных сайтов и приложений. #[br] Мне нравится делать интересные и современные проекты.
        p.about_story--text   Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
section.experience
    h3.experience--title 
    p.experience--text
