.section.reviews 
    .reviews_title
    .arrows(class="reviews_arrows")
    .slider(class="reviews_slider") 
       .reviews_slider--text 
       .reviews_slider--user 
        .reviews_slider--user_avatar 
        .reviews_slider--user_avatar 
        .reviews_slider--user_description 



