section.value.container
    +image("content/hands.png", 'value--img')
    h3.value__title Чем я могу быть полезен вам
    p.value__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        #skills-component

