section.works 
    .works_title Мои работы
    .slider(class="works_slider") 
    .arrows(class="works_arrows")

    .tags   
    - const tagsItems = ["HTML5", "CSS", "Javascript"];
    each value  in tagsItems
        .tags_items= value
        
section.school
    .school_title Сайт школы образования
    .school_text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
    .school_link    Посмотреть сайт

