section.works 
    .works_title 
    .slider(class="works_slider") 
    .arrows(class="works_arrows")

    .tags   
    - const tagsItems = ["HTML5", "CSS", "Javascript"];
    each value  in tagsItems
        .tags_items= value