section.landing
    section.title
        h2.title__description Личный сайт #[br] веб разработчика
        h1.title__mainText Jean #[br]  Paul
        
        a.title__scroll.scroll Скролл

    include ./_about.pug
    include ./_value.pug
    include ./_works.pug
    include ./_rewiews.pug






