section.landing 
    section.title
        h2.title_description Личный сайт веб разработчика
        h1.title_mainText Владимир Астаханов

    include ./_about.pug
    include ./_value.pug
    include ./_rewiews.pug
    include ./_slider.pug
    include ./_works.pug







