section.landing 
    section.title
        h2.title_description Личный сайт #[br] веб разработчика
        h1.title_mainText Jean #[br]  Paul
        
        a.title_scroll Скролл

    include ./_about.pug
    include ./_value.pug
    include ./_works.pug
    include ./_rewiews.pug






