@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import "normalize.css";
@import "./mixins.pcss";
@import "./layout/*.pcss";
@import './blocks/*.pcss';  
@import './pages/*/*pcss';  
@import './components/*.pcss';  



.container{
    padding: 60px 60px 60px 60px; 
    margin: -1px auto;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
 .content{width: 100%;
     max-width: 1200px;
     background: transparent;
     margin: auto;
 }