.works {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: flex-start;
    min-height: 150px;
    padding: 85px 0;
  }

  &__title {
    //styleName: Desktop/h2;
    font-family: Open Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;
    padding: 145px 0px 0 0px;
    color: rgba(51, 60, 73, 1);
    flex-basis: 100%;
  }

}