header.header_wrapper.container
    .header_logo ВА
    ul.header_items
        - const headerItems = {"Обо мне":"","Навыки":"", "Работы":"", "Отзывы":""};
        each value, key in headerItems
            li.header_item
                a(class="header_item--link" href="/" + value)= key
    ul.header_links
        - const linkItems = {"insta":"/","github":"/", "vk":"/", "message":"/"};
        each value, key in linkItems
            a.header_link(href="" + value) 
                +icon(key)

    .menu_block(id="menu" v-on:click="toggle" v-bind:class="{ show: isOpened }")
