section.menu 
- const menuItems = {"Проживаю:": "Новосибирск", "Возраст:": "27", "Родился:": "1 января 1991"};
each value, key in menuItems
    .menu_items= value
-  const menuLinks = {"Проживаю:": "Новосибирск", "Возраст:": "27", "Родился:": "1 января 1991"};
each value, key in menuLinks
    .menu_links= value

.menu_close
